<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127250145773-hd1fkso0va5e08rqt52p6spf6n0g2gbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127250145773-hd1fkso0va5e08rqt52p6spf6n0g2gbt</string>
	<key>API_KEY</key>
	<string>AIzaSyDZMFwQcgT8_BPch14nNlMkAhGBMInEg94</string>
	<key>GCM_SENDER_ID</key>
	<string>127250145773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TextIt</string>
	<key>PROJECT_ID</key>
	<string>textit-a3b55</string>
	<key>STORAGE_BUCKET</key>
	<string>textit-a3b55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127250145773:ios:c4ae79f6f8d179f85587e4</string>
</dict>
</plist>